body{
    background-color: red;
}

ul{
    display: flex;
    flex-direction: row;
    height: 100%;
}

h1{
    
text-align: center

}
#add-button{
    text-align: center;
}
a{
    text-decoration: none;
}


li{
    list-style: none;
}
img{
    width: 10%;
}
